body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #E76642;
}

header{
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: #000;
}

#menu{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.logo{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
}

#menu ul li{
    margin: 2vh;
}

#menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 2vh;
}

#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
    transition: all 1s ease;
}

.content-esq{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.content-dir{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}


.content{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.content h1{
    margin: 0;
    padding: 0;
    color: rgb(252, 223, 223);
    font-size: 30vh;
    cursor: pointer;
}

.content p{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 3vh;
}

.content button{
    margin: 2vh;
    padding: 3vh 5vh;
    color: #fff;
    font-size: 3vh;
    background-color: #000;
    border: none;
    border-radius: 50px;
    width: 100%;
    cursor: pointer;
}

.content button:hover{
    background-color: rgb(27, 27, 27);
    color: rgb(226, 225, 225);
}

#carousel{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation-slide{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar-slide{
    height: 15px;
    width: 15px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 20px;
    cursor: pointer;
    transition: .6s;
    position: relative;
}

.bar-slide:hover{
    background: white;
}

.slides{
    display: flex;
    width: 700%;
    height: 100%;
    z-index: 1;
}

.slide{
    width: 14.28571428571429%;
    transition: .6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

.slides input{
    display: none;
}

#slide1:checked ~ .s1{
    margin-left: 0;
}

#slide2:checked ~ .s1{
    margin-left: -14.28571428571429%;
}

#slide3:checked ~ .s1{
    margin-left: -28.57142857142857%;
}

#slide4:checked ~ .s1{
margin-left: -42.85714285714286%;
}

.color{
    width: 100%;
    height: 100%;
    z-index: 1;
}

.form-content{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.911);
    z-index: 4;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 1s ease;
}

#calendar{
    margin:0;
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}
.container-calendar{
    width:400px;
    height:200px;
    position:relative;
    perspective: 1000;
    -webkit-perspective: 1000;
    transform: scale(2);
    transition: all 1s ease;
}
.card{
    width:100%;
    height:100%;
    position:absolute;
    transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
    transition:transform 1s ease;
    cursor:pointer;
}
.back, .front{
    border-radius:6px;
    position:absolute;
    width:100%;
    height:100%;
    transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
}
.contentfront{
    width:100%;
    height:100%;
    float:left;
    transform:translatez(60px);
    -webkit-transform:translatez(60px);

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
}
.contentback{
    width:100%;
    height:100%;
    float:left;
    transform:translatez(60px);
    -webkit-transform:translatez(60px);

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
}
.back{
    transform:rotateY(180deg);
    background-color:#232227;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.front{
    text-transform:uppercase;
    background-color:#232227;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.date{
    height:100%;
    width:130px;
    float:left;
    background-color:#E76642;
    border-radius:0 6px 6px 0;
    text-align:right;
    padding:10px 20px;
    box-sizing:border-box;
    transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
}
.datecont{
    height:100%;
    transform:translatez(60px) scale(.9);
    -webkit-transform:translatez(60px) scale(.9);
}
#date{
    font-size:50px;
    color:#ECECE7;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    float:right;
}
#day{
    float:right;
    font-size:14px;
    color:#232227;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
}
#month{
    float:right;
    font-size:10px;
    color:#232227;
    font-family: 'Montserrat', sans-serif;
    font-weight:200;
}
.date i{
    color:#ECECE7;
    position:absolute;
    bottom:10px;
    right:0;
}
.date i:hover{
    color:#232227;
    transition:.3s ease;
}
.month{
    height:100%;
    width:270px;
    float:left;
    padding:20px 30px;
    box-sizing:border-box;
}
.month table{
    width:100%;
}
.orangeTr{
    color:#E76642;
}
.whiteTr{
    color:#ECECE7;
}
.whiteTr th:hover{
color:#E76642;
transition:.3s ease;
}

.whiteTr div:hover{
    color:#E76642;
    transition:.3s ease;
}

.month tr{
    height:24px;
}
.month th{
    width:14%;
    font-size:10px;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
}
.month div{
    width:14%;
    font-size:10px;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
}

.flipped{
    transform:rotateY(-180deg); 
}
.backcontainer{
    transform-style:preserve-3d;
    width:calc(100% - 60px);
    height:calc(100% - 40px);
    float:left;
    margin-left:30px;
    margin-top:20px;

    background-color:#E76642;
    border-radius:6px;
    padding:10px 30px;
    box-sizing:border-box;
    transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
}

#fechar{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    
}

#fechar p{
    color: #fff;
}

#fechar p:hover{
    color: #E76642;
}

#form{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 124, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#form input{
    width: 60%;
    height: 20px;
    margin-bottom: 10px;
    border: 0;
}

#form input:focus{
    outline: none;
}


#content-form{
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

#fecharForm{
    cursor: pointer;
    position: absolute;
    top: 0px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000000;
}

.error {
    padding: 20px;
    background-color: brown;
    color: white;
}

.accert{
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

.closebtn {
margin-left: 15px;
color: white;
font-weight: bold;
float: right;
font-size: 22px;
line-height: 20px;
cursor: pointer;
transition: 0.3s;
}

.closebtn:hover {
color: black;
}

/** BEGIN: Non Openmrs CSS **/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
	font-family: "Roboto";
}
div.container {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	margin-top: 30px;
	border: 1px solid whitesmoke;
	padding: 21px;
	border-radius: 4px;
}
h4.title {
	text-align: center;
	margin-bottom: 45px;
}
:root {
	--omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
	--omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
	--omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
	--omrs-color-interaction: #E76642;
	--omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
	--omrs-color-danger: #b50706;
	--omrs-color-bg-low-contrast: #eff1f2;
	--omrs-color-ink-high-contrast: #121212;
	--omrs-color-bg-high-contrast: #ffffff;
	
}
/** END: Non Openmrs CSS **/
div.omrs-input-group {
  margin-bottom: 1.5rem;
  position: relative;
  width: 100%;
}

/* Input*/
.omrs-input-underlined > input,
.omrs-input-filled > input {
	border: none;
	border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
	width: 100%;
	height: 2rem;
	font-size: 1.0625rem;
	line-height: 147.6%;
	padding-top: 0.825rem;
	padding-bottom: 0.5rem;
    text-align: center;
}

.omrs-input-underlined > input:focus,
.omrs-input-filled > input:focus {
	outline: none;
}

.omrs-input-underlined > .omrs-input-label,
.omrs-input-filled > .omrs-input-label {
	position: absolute;
	top: 0.9375rem;
	left: 0.875rem;
	line-height: 147.6%;
	color: var(--omrs-color-ink-medium-contrast);
	transition: top .2s;
}

.omrs-input-underlined > svg,
.omrs-input-filled > svg {
	position: absolute;
	top: 0.9375rem;
	right: 0.875rem;
	fill: var(--omrs-color-ink-medium-contrast);
}

.omrs-input-underlined > .omrs-input-helper,
.omrs-input-filled > .omrs-input-helper {
	font-size: 0.9375rem;
	color: var(--omrs-color-ink-medium-contrast);
	letter-spacing: 0.0275rem;
	margin: 0.125rem 0.875rem;
}

.omrs-input-underlined > input:hover,
.omrs-input-filled > input:hover {
	background: var(--omrs-color-interaction-minus-two);
	border-color: var(--omrs-color-ink-high-contrast);
}

.omrs-input-underlined > input:focus + .omrs-input-label,
.omrs-input-underlined > input:valid + .omrs-input-label,
.omrs-input-filled > input:focus + .omrs-input-label,
.omrs-input-filled > input:valid + .omrs-input-label {
	top: 0;
	font-size: 0.9375rem;
	margin-bottom: 32px;;
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus + .omrs-input-label,
.omrs-input-filled:not(.omrs-input-danger) > input:focus + .omrs-input-label {
	color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus,
.omrs-input-filled:not(.omrs-input-danger) > input:focus {
	border-color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus ~ svg,
.omrs-input-filled:not(.omrs-input-danger) > input:focus ~ svg {
	fill: var(--omrs-color-ink-high-contrast);
}

/** DISABLED **/

.omrs-input-underlined > input:disabled {
	background: var(--omrs-color-bg-low-contrast);
	cursor: not-allowed;
}

.omrs-input-underlined > input:disabled + .omrs-input-label,
.omrs-input-underlined > input:disabled ~ .omrs-input-helper{
	color: var(--omrs-color-ink-low-contrast);
}

.omrs-input-underlined > input:disabled ~ svg {
	fill: var(--omrs-color-ink-low-contrast);
}


/** DANGER **/

.omrs-input-underlined.omrs-input-danger > .omrs-input-label, .omrs-input-underlined.omrs-input-danger > .omrs-input-helper,
.omrs-input-filled.omrs-input-danger > .omrs-input-label, .omrs-input-filled.omrs-input-danger > .omrs-input-helper{
	color: var(--omrs-color-danger);
}

.omrs-input-danger > svg {
	fill: var(--omrs-color-danger);
}

.omrs-input-danger > input {
	border-color: var(--omrs-color-danger);
}

.omrs-input-underlined > input {
	background: var(--omrs-color-bg-high-contrast);
}
.omrs-input-filled > input {
	background: var(--omrs-color-bg-low-contrast);
}

.data_agendamento{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.data_agendamento:focus{
    outline: none;
}

.form-cliente{
    width: 30vw;
}

.data_agendamento{
    width: 20vw;
    height: 6vh;
    font-size: 1.5rem;
}

.button{
    width: 10vw;
    height: 5vh;
    font-size: 1rem;
    background-color: #E76642;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sp{
    top:0;
    left:0;
}

.clos{
    color: white;
}

.clos:hover{
    color: #E76642;
}

@media screen and (max-width: 600px){
    #container {
        flex-direction: column;
    }

    .content {
        width: 70%;
    }

    .content h1 {
        font-size: 15vh;
    }

    .content p {
        font-size: 2vh;
    }

    .content-esq {
        width: 100%;
    }

    .content-dir {
        height: 0;
    }

    .container-calendar {
        width: 240px;
        height: 300px;
        position: relative;
        transform: scale(1.5);
        justify-content: center;
        flex-direction: column;
        display: flex;
        transition: all 1s ease;
    }

    .month {
        height: 100%;
        width: 100%;
    }

    .date {
        height: 40%;
        width: 226px;
        top: 60%;
        left: 3%;
        position: absolute;
        padding: 6px 50px;
    }

    .form-cliente{
        width: 60vw;
    }

    .data_agendamento{
        width: 40vw;
        height: 5vh;
        font-size: 1.5rem;
    }

    .btn{
        width: 20vw;
    }

    .button {
        width: 30vw;
    }
}